.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    text-align: center;
    font-family: 'Righteous',sans-serif;
    font-style: italic;
    color: #F98072;
    padding-top: 2cap;
    padding-bottom: 1cap;
}

h2 {
    font-family: 'Righteous',sans-serif;
    margin-left: 5%;
}

header {
    background-color:black;
}

ul {
    list-style-type: none;
    padding: 1%;
    overflow: hidden;
    background-color: #F98072;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

li {
    float: left;
    padding-left: 30px;
    color:black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-left: 8%;
    color: gray;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.image {
    padding-bottom: 1%;
    border-bottom: 1px solid;
}

footer {
    background-color: silver;
    padding: 3%;
    text-align: center;
}

th, td:last-child, table #tfooter {
    color: white;
    background-color: grey;
    text-align: center;
    border-style: none;
    padding: 10px;
    border-color: white;
    font-weight: bold;
}

table, tr:not(:last-child) td:not(:last-child) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: salmon;
    padding: 10px;
}

legend {
    margin-left: 3%;
    margin-bottom: 1%;
    font-family: 'Righteous',sans-serif;
    color: salmon;    
}

label:first-of-type {
    margin-left: 3%;
}

input[type=number] {
    width: 5%;
    margin-bottom: 5px;
    margin-right: 10px;
}

